/* 색상 클래스 */
.red    { background-color: red; }
.green  { background-color: green; }
.yellow { background-color: yellow; }
.white  { background-color: white; }
.orange { background-color: orange; }
.blue   { background-color: blue; }

.cube-container {
  perspective: 800px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.cube-3d {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
  margin: 100px auto;
}

/* 각 면 공통 */
.face {
  position: absolute;
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  transform-origin: center center;
}
.face div {
  border: 3px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* 3면 배치 */
#front-face {/*빨강*/
  transform: translateZ(75px);
}

#right-face {
  transform: rotateY(90deg) translateZ(-75px);
}

#top-face {
  transform: rotateX(90deg) translateZ(75px);
}
